<div class="jumbotron">
  <h1 class="display-3">Welcome All of you</h1>
  <p class="lead">This is the gossip project of using boostrap, rails and sql database</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/gossips/new" role="button">New Gossip</a>
    <a class="btn btn-primary btn-lg" href="/users/new" role="button">New User</a>
  </p>
  <p>Here are the lists of the gossip:</p>
</div>

<div class="container">
  <div  class="align-items-xl-center">
    <%a = 1%>
    <%t = 0%>
    <%@gossips.each do |i|%>
      <%if a <= 10%>
      <center>
          <div class="card bg-light mb-5" style="max-width: 30rem;">
            <div class="card-header"><%= i.created_at%></div>
            <div class="card-body">
            <h5 class="card-title"><span class="badge badge-secondary">Author:</span> <%= i.user.first_name%></h5>
              <p class="card-text"><span class="badge badge-secondary">Title:</span> <%= i.title %></p>
              <span>
                <a href="/gossips/<%=i.id%>" class="btn btn-primary" role="button">Detail</a>            
                <a href="/users/<%=i.id%>" class="btn btn-primary" role="button">User</a>
                <a href="/gossips/<%=i.id%>/edit" class="btn btn-primary" role="button">Edit</a>
                <a href="/city/<%=i.id%>" class="btn btn-primary" role="button">City</a>
              </span>
            </div>
          </div>
        </center>
      <%a+=1%>
    <%else%>
      <%break%>
    <%end%>
  <%end%>
</div>
