<div class="jumbotron">
  <h1 class="display-3">Welcome All of you</h1>
  <p class="lead">This is the gossip project of using boostrap, rails and sql database</p>
  <hr class="my-4">
  <p>Here are the list of the gossip:</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/gossips/new" role="button">New Gossip</a>
    <a class="btn btn-primary btn-lg" href="/users/new" role="button">New User</a>
  </p>
</div>
<% for i in 1..(@gossips.length - 4) do %>
<div class="row">
  <div class="column">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><%= @gossips.find(i).created_at%></div>
        <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Author:</span> <%= @gossips.find(i).user.first_name%></h5>
          <p class="card-text"><span class="badge badge-secondary">Title:</span> <%= @gossips.find(i).title %></p>
          <a href="user/<%=i%>" class="btn btn-primary btn-lg" role="button">Detail</a>
        </div>
      </div>
    </div>    
  <%i+=1%>
  <div class="column">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><%= @gossips.find(i).created_at%></div>
        <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Author:</span> <%= @gossips.find(i).user.first_name%></h5>
          <p class="card-text"><span class="badge badge-secondary">Title:</span> <%= @gossips.find(i).title %></p>
          <a href="user/<%=i%>" class="btn btn-primary btn-lg" role="button">Detail</a>
        </div>
    </div>
  </div>
  <% i+=1%>
  <div class="column">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><%= @gossips.find(i).created_at%></div>
        <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Author:</span> <%= @gossips.find(i).user.first_name%></h5>
          <p class="card-text"><span class="badge badge-secondary">Title:</span> <%= @gossips.find(i).title %></p>
          <a href="user/<%=i%>" class="btn btn-primary btn-lg" role="button">Detail</a>
        </div>
      </div>
  </div>
    <%i+=1%>
  <div class="column">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><%= @gossips.find(i).created_at%></div>
        <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Author:</span> <%= @gossips.find(i).user.first_name%></h5>
          <p class="card-text"><span class="badge badge-secondary">Title:</span> <%= @gossips.find(i).title %></p>
          <a href="user/<%=i%>" class="btn btn-primary btn-lg" role="button">Detail</a>
        </div>
    </div>
  </div>
    <%i+=1%>
  <div class="column">
      <div class="card bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><%= @gossips.find(i).created_at%></div>
        <div class="card-body">
        <h5 class="card-title"><span class="badge badge-secondary">Author:</span> <%= @gossips.find(i).user.first_name%></h5>
          <p class="card-text"><span class="badge badge-secondary">Title:</span> <%= @gossips.find(i).title %></p>
          <a href="user/<%=i%>" class="btn btn-primary btn-lg" role="button">Detail</a>
        </div>
    </div>
  </div>
</div> 
<% end %>