<br/>
<br/>
<br/>
<h1><span class="badge badge-primary">GOSSIP DETAILS</span></h1>
<div class="alert alert-dismissible alert-success">
	<p><strong>Title:</strong> <%=@gossip.title%></p>
	<p><strong>Content:</strong> <%=@gossip.content%></p>	
	<p><strong>Author:</strong> <%=@gossip.user.first_name%> <%=@gossip.user.last_name%></p>
	<p><strong>City:</strong> <%=@gossip.user.city.name%></p>
	<p><strong>Date of creation:</strong> <%=@gossip.created_at%></p>
	<%= form_tag url_for(action: 'destroy'), method: "delete" do %>
			<%= submit_tag("DELETE",
			:class => "btn btn-danger",
			data: {confirm: "Do you wanna delete this gossip"}) %> 
	<% end %>
</div>
<div class="alert alert-dismissible alert-secondary">
	<h1>ALL COMMENTS</h1>
	<%a = 1%>
			<%if @gossip.comments.size  > 0%>
				<%@gossip.comments.each do |i|%>
					<%if a <= 10%>
						<%user = @gossip.comments.find(i.id).user_id%>
						<p><strong>Content:</strong> <%=@gossip.comments.find(i.id).content%></p>
						<p><strong>Author:</strong> <%=User.find(user).first_name%> <%=User.find(user).last_name%></p>
						<a href="/gossips/<%=@gossip.id%>/comments/edit" class="btn btn-dark" role="button">edit</a>	
						<%= link_to("delete", @gossip_comment, method: "delete", :class => "btn btn-danger", data: {confirm: "Do you wanna delete this comment"}) %> 
						<%a+=1%>
					<%else%>
						<%break%>
					<%end%>
				<%end%>	
			<%else%>
				<div class="alert alert-dismissible alert-warning">
					<p>There is no comment here</p>
				</div>
			<%end%>
</div>
<div class="alert alert-dismissible alert-secondary">
	<a href="/gossips/<%=@gossip.id%>/comments/new" class="btn btn-primary" role="button">New Comments</a>
</div>